.headline-shadow {
  text-shadow: 4px 4px 8px #212529;
}

.ml-5 {
  margin-left: 3.25rem !important;
}

.my-camelCase {
  text-transform: none;
}

.my-duck-color {
  color: #ffd45c;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.my-duckCube-img {
  border-radius: 10px;
  height: auto;
  padding-bottom: 20px;
  width: 400px;
}

.my-image {
  border-radius: 90px;
  height: 180px;
  margin-bottom: 40px;
  width: 180px;
}

.add-flex {
  align-items: center;
  display: flex !important;
}

.my-portfolio-caption-border,
.my-portfolio-img-border {
  border-radius: 10px;
}

.my-porfolio-col {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.my-portfolio-links {
  display: inline-flex;
}

.my-portfolio-live-img-tuber-tictac {
  border: 2px solid #212529;
  transform: scale(1.05);
}

.my-portfolio-live-img-nozama-bike {
  border: 2px solid #c3c9ce;
  transform: scale(1.05);
}

.my-job-title-color {
  color: #428bca !important;
}

.nav-contact:hover {
  text-decoration: none;
}

.tagline-shadow {
  background-color: rgba(33,37,41,.2);
  box-shadow: 0 0 20px 10px rgba(33,37,41,.2);
}

.text-white-75:hover {
  color: rgba(255,255,255,.9);
}

.text-white-85 {
  color: rgba(255,255,255,.85);
}

@media (max-width: 992px) {
  .nav-contact {
    color: #212529;

  }

  .nav-contact:hover {
    color: #428bca;
  }
}
